<form class="" action="/session" method="post">
  <label for="">Username</label>
  <input type="text" name="username" value="">

  <label for="">Password</label>
  <input type="password" name="password" value="">

  <button type="submit" name="button">Login</button>
</form>
<br>
<%= @message %>
