<div class="login">
  <form class="" action="/session" method="post">
    <label for="">Email</label>
    <input type="text" name="email" value=""><br>

    <label for="">Password</label>
    <input type="password" name="password" value=""><br>

    <button type="submit" name="button">Login</button>
  </form>
  <br>
  <%= @message %>
</div>

<hr>

<div class="register">
  <form class="" action="/register" method="post">
    <label for="">Email</label>
    <input type="text" name="email" value=""><br>

    <label for="">Display Name</label>
    <input type="text" name="display_name" value=""><br>

    <label for="">Password</label>
    <input type="password" name="password" value=""><br>

    <button type="submit" name="button">Register</button>
  </form>
</div>
