* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Alegreya Sans';
}

body {
  background: rgba(111, 123, 90, 0.3);
  width: 100%;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  background: white;
}

/*--------------------- HEADER STYLES-----------------------*/

header {
  max-width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

/*---------------------CONTENT STYLES ----------------------*/
.content {
  max-width: 100%;
  height: auto;
  margin: 20px;
  text-align: center;
}

input {
  display: block;
}
/*-------------------HOMEPAGE-------------------*/

/*-----------------BOOK SEARCH----------------------------*/

.search-results {
  margin: 20px 0;
}

.search-results a {
  display: block;
}

.search-item {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 25%;
  margin: 10px;
  padding: 10px;
  display: inline-block;
}
/*----------------------LOGIN/REGISTER----------------------*/





/*-----------------------FOOTER STYLES-------------------------*/

footer {
  max-width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
