body {
  font-family: 'Alegreya Sans';
}

/*--------------------- HEADER STYLES-----------------------*/

header {
  padding: 20px 0;
  background: #343a40;
}

a.logo {
  font-size: 42px;
  color: #fff;
}

a.logo:hover {
  text-decoration: none;
}

.user-info {
  color: #fff;
  text-align: right;
}

h3.welcome-message {
  font-size: 22px;
}

/*---------------------CONTENT STYLES ----------------------*/

.content {
  padding: 40px 0;
}

.book-items {
  padding: 40px 0;
  text-align: center;
}

.book-items .book-info {
  display: block;
  padding: 10px;
  margin-bottom: 30px;
}

.book-items .book-title {
  font-weight: bold;
}

/*-------------------------- BOOK DETAILS ----------------------*/

.book-details span{
  display: block;
}

.book-details .book-title {
  font-size: 28px;
  font-weight: bold;
}

.book-details .book-author {
  font-size: 15px;
  margin-top: -8px;
  padding-left: 10px;
}

.book-details .book-desc {
  padding: 50px 0;
  font-size: 18px;
  line-height: 1.8em
}

/*-----------------BOOK SEARCH----------------------------*/

.search {
  padding-bottom: 40px;
}

/*------------------DISCUSSION PAGE--------------------*/

.discussion-image {
  margin-bottom: 20px;
  text-align: center;
}

.comment-date {
  float: right;
}

.comment-details {
  padding: 5px;
  background: #868e96;
  color: #fff;
  clear: both;
}

.comment-content {
  padding: 5px;
}

.comment-content span {
  float: right;
  margin-left: 20px;
}
.comment-content button {
  border: none;
  background-color: #fff;
  color: #007bff;
  cursor: pointer;
}

.comment-content button:hover{
  text-decoration: underline;
}

/*----------------------LOGIN/REGISTER----------------------*/

.message {
  color: #ff0000;
  padding: 20px;
}

/*-----------------------FOOTER STYLES-------------------------*/

footer {
  background: #343a40;
  color: #fff;
  text-align: right;
  padding: 10px 0;
}
